{% extends "base.html" %} {% block title%}Gerer les codes d'invitations{% endblock %}
{% block content%}

<br />
<br />
<br />
<form method="post">
    <h3 align="center">Commads</h3>
    <div class="form-group">
        <label for="command">Entrer la commande</label>
        <input type="text" class="form-control" id="command" name="command" placeholder="Entrez le code d'invitation" oninput="this.value = this.value.toUpperCase()">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Génerer</button>
</form>




{% endblock %}